.container {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    font-size: large;
    font-weight: bold;
}

.menu-bar {
    color: black;
}

#shop {
    color: black;
    letter-spacing: 4px;
}

#cart-icon {
    color: black;
}

.menu-checkbox {
    display: none;
}

.menu-btn {
    color: black;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    z-index: 9999;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100vh;
    background: white;
    padding: 20px;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease;
    z-index: 999;
}


.menu-checkbox:checked~.sidebar {
    left: 0;
}

.shopping-items {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.sidebar a {
    padding: 15px 0;
    font-size: 16px;
    color: #333;
}

.items-list {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.mens-outerwear {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.outerwear-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.outerwear-name {
    font-size: 1.1rem;
}

.outerwear-button {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    height: 2.5rem;
    width: 11rem;
    border: 2px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
}

.outerwear-button button,
.tshirts-button button {
    background-color: white;
    text-align: center;
    border: none;
}

.tshirts {
    display: flex;
    width: 100%;
}

.mens-tshirts,
.ladies-tshirts {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mens-tshirts img,
.ladies-tshirts img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.tshirts-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}

.tshirts-name {
    font-size: 0.9rem;
}

.tshirts-button {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    height: 2.5rem;
    width: 8rem;
    border: 2px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.made-content {
    color: rgb(82, 80, 80);
    margin-top: 2rem;
    font-size: 13px;
}

.demo-content {
    height: 2rem;
    width: 8rem;
    background-color: black;
    color: white;
    text-align: center;
    align-content: center;
    margin-top: 0.8rem;
    font-size: 13px;
}

.outerwear-header p {
    text-align: center;
}

.shop-list-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1.3rem;
}

.shop-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.shop-list img {
    height: 10rem;
    width: 10rem;
    margin-top: 1.5rem;
}

.shop-list .item-name {
    margin-top: 1rem;
    font-size: small;
    font-weight: bold;
    color: rgb(24, 23, 23);
}

.shop-list .amount {
    font-size: 13px;
    color: rgb(104, 101, 101);
    margin-bottom: 1rem;
}

.each-item {
    width: 100%;
    padding: 1.5rem;
}


.description ul {
    list-style-type: disc;
    display: block;
    padding-left: 1.5rem;
    margin: 0.5rem 0;
}

.description ul li {
    display: list-item;
    margin-bottom: 0.5rem;
}

.image {
    height: 15rem;
    width: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.each-item-name {
    font-size: large;
    margin-bottom: 1rem;
}

.item-amount {
    color: rgb(78, 75, 75);
    font-size: 14px;
    width: 100%;
}

.select-sizes {
    width: 100%;
    display: flex;
    gap: 2.5rem;
    border-top: 1px solid rgb(88, 84, 84);
    border-bottom: 1px solid rgb(88, 84, 84);
}

.size-label,
#size,
.quantity-options,
#quantity {
    margin-top: 1.3rem;
    margin-bottom: 1rem;
}

.select-sizes:hover,
.select-quantity:hover {
    border-bottom: 2px solid black;
}

.size-label,
.select-quantity {
    font-size: 14px;
    color: #504c4c;
}

#size,
#quantity {
    width: 76%;
    background-color: white;
    border: none;
    outline: none;
    font-weight: bold;

}

.select-quantity {
    width: 100%;
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid rgb(88, 84, 84);
}

.description {
    margin-top: 2rem;
}

.des-content {
    font-weight: bold;
    font-size: 14px;
}

.des-para {
    margin-top: 1.2rem;
    font-size: 14px;
    color: #504c4c;
    margin-bottom: 1.5rem;
}

.description .features,
.description ul {
    color: #504c4c;
    font-size: 14px;
}

.description ul {
    padding: 1rem;
    margin-left: 2rem;
    list-style-type: disc;
    display: block;
}

.description ul li {
    display: list-item;
}

.cart-footer button {
    width: 100%;
    height: 4rem;
    background-color: #172C50;
    border: none;
    font-size: 15px;
}

.add-btn {
    color: white;
}

.added-items {
    width: 100%;
    max-width: 420px;
    padding: 1rem;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.img-content img {
    width: 6rem;
    height: 6rem;
    border-radius: 5px;
}

.price-details {
    display: flex;
    flex-direction: column;
}

.item-column {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
}

.item-column p {
    font-size: 16px;
    margin-right: 2rem;
    color: rgb(37, 36, 36);
}

.item-column a {
    color: #746c6c;
    cursor: pointer;
}

.quantity-level {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 1rem;
    color: #746c6c;
}

#qty {
    border: none;
    outline: none;
    background-color: white;
}

.total-amount {
    display: flex;
    gap: 1.3rem;
    padding: 1.5rem;
}

.total-amount .total {
    margin-left: 13rem;
}

.checkout-item {
    width: 100%;
}

.checkout-item button {
    margin-top: 30rem;
    height: 3.5rem;
    width: 100%;
    background-color: #172C50;
    border: none;
    color: white;
}

.checkout-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.shop-demo {
    font-size: 13px;
    color: #746c6c;
}


.holder-details {
    font-family: Arial, Helvetica, sans-serif;
}

.account-details,
.payments-details {
    padding: 1.5rem;
}

.account-info,
.shipping-address {
    display: flex;
    flex-direction: column;
}

input {
    border: none;
    outline: none;
}

#email,
#mobile-number,
#address,
#city,
#holdername,
#card-number {
    height: 2rem;
    margin-top: 1rem;
    font-size: medium;
    border-bottom: 1px solid rgb(87, 83, 83);
}

#email:hover,
#mobile-number:hover,
#address:hover,
#city:hover,
#state:hover,
#zip-code:hover,
#country:hover,
#holdername:hover,
#card-number:hover,
#months:hover,
#years:hover,
#cvv:hover {
    border-bottom: 2px solid black;
}

.shipping-address h5 {
    margin-top: 2rem;
}

.code {
    width: 100%;
    display: flex;
    gap: 1rem;
}

#state,
#zip-code {
    height: 2rem;
    width: 50%;
    margin-top: 1rem;
    font-size: medium;
    border-bottom: 1px solid rgb(87, 83, 83);
}

.country-info {
    display: flex;
    flex-direction: column;
}

.country-info label {
    font-size: 14px;
}

#country,
#months,
#years {
    border: none;
    outline: none;
    background-color: white;
    font-size: medium;
    border-bottom: 1px solid rgb(87, 83, 83);
}

.billing-address {
    margin-top: 1rem;
}

.checkbox-content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.payment-method {
    display: flex;
    flex-direction: column;
}

.expiry-info {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.expiry {
    font-size: 14px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#months,
#years,
#cvv {
    width: 33%;
    border-bottom: 1px solid rgb(87, 83, 83);
    font-size: 16px;
}

.oreder-summary {
    display: flex;
    flex-direction: column;
}

.item,
.order-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-footer {
    margin-top: 5rem;
}

.order-footer1 {
    display: none;
}

.order-footer button {
    width: 100%;
    height: 3rem;
    border: none;
    background-color: #172C50;
    color: white;
}

.desktop-items {
    display: none;
}

.desktop-img {
    display: none;
}

.desktop-icon {
    display: none;
}

/* Desktop view */
@media (min-width: 1024px) {
    .menu-btn {
        display: none;
    }

    .desktop-items {
        display: block;
    }

    .header-content {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    #shop {
        grid-column: 2;
    }

    #cart-icon {
        grid-column: 3;
    }

    .desktop-items .shopping-items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 2rem;
        font-size: small;
    }

    .items-list {
        width: 100%;
        max-width: 90rem;
        margin: 0 auto;
    }

    img {
        width: 100%;
        height: 20rem;
        object-fit: cover;
    }

    .shopping-items a:hover {
        border-bottom: 2px solid black;
    }

    .desktop-img {
        display: block;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .desktop-img img {
        max-width: 90rem;
        margin-bottom: 2rem;
    }

    .shop-list-items {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        justify-content: center;
        row-gap: 2rem;
        column-gap: 10rem;
        padding: 2rem;
    }

    .shop-list img {
        height: 18rem;
        width: 18rem;
        margin-top: 2rem;
    }

    .each-item {
        width: 100%;
        display: grid;
        grid-template-columns: 350px 1fr;
        column-gap: 3rem;
        justify-content: center;
        padding: 2rem;
        align-items: center;
    }

    .shopping-content {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .image {
        width: 30rem;
        height: 30rem;
        grid-column: 1;
        margin-left: 20rem;
    }

    .image img {
        height: 30rem;
        width: 30rem;
        object-fit: cover;
    }

    .each-item-content,
    .select-sizes,
    .select-quantity,
    .description {
        grid-column: 2;
        margin-left: 30rem;
    }

    .each-item-name {
        font-size: 1.5rem;
    }

    #size,
    #quantity {
        width: 40%;
    }

    .cart-footer {
        display: flex;
        justify-content: center;
    }

    .cart-footer button {
        width: 10rem;
        height: 3rem;
    }

    .added-items {
        width: 100%;
        max-width: 2000px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .img-content img {
        height: 5rem;
        width: 5rem;
        grid-column: 1;
    }

    .price-details,
    .quantity-level {
        display: contents;
    }

    .quantity-level {
        display: flex;
        gap: 1rem;
    }

    #qty {
        margin-bottom: 2rem;
    }

    .qty-level {
        margin-left: 13rem;
    }

    .item-size {
        margin-right: 3rem;
        margin-left: 3rem;
    }

    .item-price {
        grid-column: 5;
        font-weight: 600;
    }

    .mobile-icon {
        display: none;
    }

    .desktop-icon {
        display: block;
        cursor: pointer;
        color: #999;
        margin-left: 3rem;
    }

    .total-amount {
        display: flex;
        justify-content: center;
    }

    .checkout-item {
        display: flex;
        justify-content: center;
    }

    .checkout-item a {
        margin-left: 35rem;
        position: absolute;
        top: 15rem;
    }

    .checkout-item button {
        margin-top: 0;
        height: 2.5rem;
        width: 10rem;
        background-color: white;
        border: 1px solid black;
        color: black;
    }

    .checkout-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .holder-details {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 5rem;
        margin-top: 3rem;
    }

    .account-details {
        width: 25%;
    }

    .payments-details {
        width: 25%;
    }

    .order-footer {
        display: none;
    }

    .order-footer1 {
        display: flex;
        justify-content: flex-start;
        margin-top: 2rem;
    }

    .order-footer1 button {
        height: 2rem;
        width: 12rem;
        background-color: white;
        color: black;
        border: 2px solid black;
        cursor: pointer;
    }


}